{% extends "base.html" %}

{% block head_title %}Dagkot - Add New Dagkot{% endblock head_title %}

{% block content %}
	<div class="row-fluid">
		<div class="span12">
			<form id="frm_dagkot_for" method="post">
				<div>
					<input type="text" name="dagkot_for" id="dagkot_for" placeholder="dagkot for..." value="{{ dagkot_for }}" />
				</div>
				<div>
					<select id="dagkot_type" name="dagkot_type">
						<option>Thanks Giving</option>
						<option>Prayer</option>
						<option>Loss</option>
					</select>
				</div>
				<div>
					<textarea id="dagkot_msg" name="dagkot_msg" placeholder="your message"></textarea>
				</div>
				<div>
					<select id="demo-htmlselect">
						<option value="0" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/facebook-icon-32.png"
							data-description="Description with Facebook">Facebook</option>
						<option value="1" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/twitter-icon-32.png"
							data-description="Description with Twitter">Twitter</option>
						<option value="2" selected="selected" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/linkedin-icon-32.png"
							data-description="Description with LinkedIn">LinkedIn</option>
						<option value="3" data-imagesrc="http://dl.dropbox.com/u/40036711/Images/foursquare-icon-32.png"
							data-description="Description with Foursquare">Foursquare</option>
					</select>
				</div>
				<div class="actions">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
				<input type="hidden" name="dagkot_candle" id="dagkot_candle" />
			</form>
		</div>
	</div>
{% endblock content %}

{% block body_extras %}
	<script type="text/javascript" src="/js/ddslick/ddslick.js"></script>
	
	<script type="text/javascript">
	$(function() {
		var candle = $('#dagkot_candle');
		
		$('#demo-htmlselect').ddslick({
			width     : 329,
			onSelected: function(response){
				candle.val(response.selectedData.value);
			}   
		});
	});
	</script>
{% endblock body_extras %}