{% extends "base.html" %}

{% block head_title %}Create a new dagkot for a friend, family, loved one, etc.{% endblock head_title %}

{% block head_extras %}
<style type="text/css">
#content #frm_dagkot_for #demo-htmlselect {
    margin-bottom: 0 !important;
}
</style>
{% endblock head_extras %}

{% block content %}
	<div id="home_top">
		<div class="inner">
			<div class="hero-unit">
				<h2>Light a Candle</h2>
				<p>
					In many different traditions, lighting candles is a sacred ritual. It expresses more than words can describe. It has to do with gratefulness. From time immemorial, people have lit candles in sacred places. Why should cyberspace not be sacred?
				</p>
				<br><br>
				<form id="frm_dagkot_for" method="post" class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="dagkot_type">{{ form.dagkot_type.label.text }}</label>
						<div class="controls">
					    	{{ form.dagkot_type() }}
					    </div>
					</div>
					<div class="control-group">
						<label class="control-label" for="dagkot_for">{{ form.dagkot_for.label.text }}</label>
						<div class="controls">
					    	{{ form.dagkot_for(placeholder="dagkot for...") }}

					    	{% if form.dagkot_for.errors %}
								<ul class="errors">
									{% for error in form.dagkot_for.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
					    </div>
					</div>
					<div class="control-group">
						<label class="control-label" for="dagkot_msg">{{ form.dagkot_msg.label.text }}</label>
						<div class="controls">
					    	{{ form.dagkot_msg(placeholder="your message or prayer...") }}

					    	{% if form.dagkot_msg.errors %}
								<ul class="errors">
									{% for error in form.dagkot_msg.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
					    </div>
					</div>
					<div class="control-group">
						<label class="control-label" for="demo-htmlselect">Candle Type</label>
						<div class="controls">
					    	<select id="demo-htmlselect">
								<option value="0" data-imagesrc="/images/candle-default.gif" selected="selected"
									data-description="Description for candle #1">Candle 1</option>
								<option value="1" data-imagesrc="/images/candle-type2.gif"
									data-description="Description for candle #2">Candle 2</option>
								<option value="2" data-imagesrc="/images/candle-type3.gif"
									data-description="Description for candle #3">Candle 3</option>
							</select>
					    </div>
					</div>
					<div class="control-group">
						<label class="control-label" for="dagkot_from">From</label>
						<div class="controls">
					    	{% if user %}
					    		<input id="dagkot_from" type="text" value="{{ user.nickname() }}" disabled>
							{% else %}
								<input id="dagkot_from" type="text" value="Anonymous" disabled>
							{% endif %}
					    </div>
					</div>
					<div class="control-group">
						<div class="controls">
							<div class="well" style="float: left; margin: 0;">
						    	<label class="checkbox">
									{{ form.dagkot_img() }} {{ form.dagkot_img.label.text }}
								</label>
							</div>
					    </div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="submit" value="Save" class="btn btn-large btn-primary">
					    </div>
					</div>
					<input type="hidden" name="dagkot_candle_type" id="dagkot_candle_type" />
					<input type="hidden" name="dagkot_candle_path" id="dagkot_candle_path" />
					<input type="hidden" name="dagkot_candle_name" id="dagkot_candle_name" />
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block body_extras %}
	<script type="text/javascript" src="/js/ddslick/ddslick.js"></script>
	
	<script type="text/javascript">
	$(function() {
		var type = $('#dagkot_candle_type');
		var path = $('#dagkot_candle_path');
		var name = $('#dagkot_candle_name');
		
		$('#demo-htmlselect').ddslick({
			width     : 329,
			onSelected: function(response){
				path.val(response.selectedData.imageSrc);
				type.val(response.selectedData.value);
				name.val(response.selectedData.text);
			}   
		});
	});
	</script>
{% endblock body_extras %}