{% extends "base.html" %}

{% block head_extras %}
<!-- Wookmark -->
<script type="text/javascript" src="/js/wookmark/wookmark.js"></script>
<!-- Wookmark -->
{% endblock head_extras %}

{% block content %}
	<div class="row-fluid">
		<div class="span12">
			<form id="frm_dagkot_for" method="get" action="/add">
				<img id="img_dagkot_for" src="/images/candle-default.gif" />
				<div ID="div_dagkot_for">
					<input type="text" name="txt_dagkot_for" id="txt_dagkot_for" placeholder="dagkot for..." />
				</div>
				<div class="ClearBoth"></div>
			</form>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			<ul id="dagkots" class="dagkots">
				{% for dagkot in dagkots %}
					<li class="dagkot">
						<div class="inner">
							<div class="head">
								<div class="candle-container">
									{% with candle=dagkot.dagkot_candle %}
										<img class="candle" src="{{ candle.candle_path }}" alt="{{ candle.candle_name }}" />
									{% endwith %}
								</div>
								{{ dagkot.dagkot_type }} for <strong>{{ dagkot.dagkot_for|title }}.</strong>
								<div class="ClearBoth"></div>
							</div>
							<div class="body">
								<pre>{{ dagkot.dagkot_message }}</pre>
							</div>
							<div class="foot">
								{% with author=dagkot.dagkot_author %}
									<div class="dagkot_author">
										from
										{% if author %}
											<strong>{{ author }}</strong>
										{% else %}
											<strong>Anonymous</strong>
										{% endif %}
									</div>
								{% endwith %}
								<div class="dagkot_date">
									{{ dagkot.dagkot_date.strftime('%b %d, %Y at %H:%M') }}
								</div>
							</div>
						</div>
					</li>
				{% else %}
					<li class="FloatLeft">No dagkots available.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock content %}

{% block body_extras %}
<script type="text/javascript">
$(function() {
	$('ul.dagkots li.dagkot').wookmark({
		autoResize: true,
		container: $('#dagkots'),
		offset: 10
	});
});
</script>
{% endblock body_extras %}