{% extends "base.html" %}

{% block head_extras %}
<!-- Uploadify CSS -->
<!-- <link type="text/css" rel="stylesheet" href="/css/uploadify/uploadify.css" /> -->
<!-- Uploadify CSS -->

<!-- Uploadify JS -->
<!-- <script type="text/javascript" src="/js/uploadify/uploadify.js"></script> -->
<!-- Uploadify JS -->

<!-- Uploadify CSS -->
<link type="text/css" rel="stylesheet" href="/css/fileuploader/fileuploader.css" />
<!-- Uploadify CSS -->

<!-- Uploadify JS -->
<script type="text/javascript" src="/js/fileuploader/fileuploader.js"></script>
<!-- Uploadify JS -->
{% endblock head_extras %}

{% block content %}
	<div class="row-fluid">
		<div class="span12">
        	<!-- <input type="file" id="fileupload" name="Filedata" /> <input type="submit" id="filesubmit" value="upload" /> -->
        	<div id="file-uploader-demo1">		
				<noscript>			
					<p>Please enable JavaScript to use file uploader.</p>
				</noscript>         
			</div>
		</div>
	</div>
{% endblock content %}

{% block body_extras %}
<script>
$(function() {
	var uploader = new qq.FileUploader({
		allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
		element: $('#file-uploader-demo1')[0],
		action: '{{ upload_url }}',
		debug: true
	});
});   
</script>
{% endblock body_extras %}