<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>{% block head_title %}Dagkot - Prayers, Thanks Giving, Etc!{% endblock head_title %}</title>

<!-- jQuery -->
<script type="text/javascript" src="/js/jquery/jquery.js"></script>
<!-- jQuery -->

<!-- Modernizr -->
<script type="text/javascript" src="/js/modernizr/modernizr.js"></script>
<!-- Modernizr -->

<!-- Bootstrap CSS -->
<link type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap-responsive.css" />
<!-- Bootstrap CSS -->

<!-- Bootstrap JS -->
<script type="text/javascript" src="/js/bootstrap/bootstrap-dropdown.js"></script>
<!-- Bootstrap JS -->

<link type="text/css" rel="stylesheet/less" href="/less/style.less" />

<!-- LESS -->
<script type="text/javascript" src="/js/less/less.js"></script>
<!-- LESS -->

{% block head_extras %}
{% endblock head_extras %}
</head>
<body>
	<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">Dagkot</a>
					
					<ul class="nav pull-right">
						{% if user %}
							<li>
								<a href="#">{{ nickname }}</a>
							</li>
							<li class="divider-vertical">
							</li>
						{% endif %}
						<li>
							<a href="{{ auth_url }}">{{ auth_txt }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	
	<section id="content">
		<div class="container">
			{% block content %}
			{% endblock content %}
		</div>
	</section>
	
	<footer>
		<hr />
		<div class="container">
			&copy; 2012 BTC Web Software
		</div>
	</footer>
	
	{% block body_extras %}
	{% endblock body_extras %}
</body>
</html>